{:mvn/repos {"central" {:url "https://repo1.maven.org/maven2/"}
             "clojars" {:url "https://clojars.org/repo"}}
 :aliases  {:dev {:extra-paths ["development/src"
                                ;;Components
                                "components/xtdb/src"
                                "components/xtdb/resources"
                                "components/ledger/src"
                                "components/ledger/resources"
                                "components/env/src"
                                "components/env/resources"
                                "components/schema/src"
                                "components/schema/resources"
                                ;;Bases
                                "bases/rest-api/src"
                                "bases/rest-api/resources"]
                  
                  :extra-deps {org.clojure/clojure {:mvn/version "1.11.1"}
                               com.xtdb/xtdb-core {:mvn/version "1.20.0"}
                               com.xtdb/xtdb-rocksdb {:mvn/version "1.20.0"}
                               compojure/compojure {:mvn/version "1.6.0"}
                               org.clojure/data.json  {:mvn/version "0.2.6"}
                               ring/ring-json {:mvn/version "0.5.0-beta1"}
                               ring/ring-jetty-adapter {:mvn/version "1.6.3"}
                               org.clojure/tools.logging {:mvn/version "1.2.4"}
                               ch.qos.logback/logback-classic {:mvn/version "1.2.11"}
                               ring-logger/ring-logger {:mvn/version "1.1.1"}
                               metosin/malli {:mvn/version "0.8.4"}}}

            :test {:extra-paths []}

            :poly {:main-opts ["-m" "polylith.clj.core.poly-cli.core"]
                   :extra-deps {polyfy/polylith
                                {:git/url   "https://github.com/polyfy/polylith"
                                 :sha       "e874e809aa9d3cecaa0540376bd2875f99b37372"
                                 :deps/root "projects/poly"}}}}}
